<footer class="footer">
    <h3>Designed and Developed by Ajay J</h3>
    <p>As a part of my Main Project @ AL AMEEN College, Edathala</p>
</footer>
<!-- <script type="text/javascript" src="/script/handler.js"></script> -->
</body>

</html>