<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/student-style.css">
    
    <link rel="icon" type="image/png" href="../images/favicon-32x32.png">
    <title>Event.io</title>
</head>
 
<body>
    <!-- <div id="samp">HI</div>  -->
    
    <div class="head">
        <header class="header">
            <div class="container">
                <div class="header_logo">
                    <a href="#"><img class="header_img" src="../images/event_logo.png">
                        <h1 class="title">Event<span class="tail">.io</span></h1>
                    </a>
                </div>

                <div class="entry">
                    <!-- <a href="#"><span class="" id="notify"><img class="notify" src="../images/notification.png" alt="notification"></span></a> -->

                    <a href="/newsfeed"><span class="" id="newsfeed">Newsfeed</span></a>    <!-- point -->
                    <a href="/departments"><span class="" id="dep-prf">Department profile</span></a>
                    <a href="/studentPrf"><span class="" id="stud-prf"><%= name %> Profile</span></a>

                    <a href="/signout"><span class="" id="sign-out">Sign Out</span></a>
                </div>
            </div>
        </header>
    </div>
    
 <!--    <div class="notify-wrapper visi">
                <h4>Notification 1</h4>
               <p>Lorem, ipsum dolor sit amet consectetur 
                </p>
                <h4>Notification 2</h4>
                <p>Lorem, ipsum dolor sit amet consectetur 
                </p>
                <h4>Notification 3</h4>
                <p>Lorem, ipsum dolor sit amet consectetur 
                </p>
            </div> 
        
 -->