
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
 <%#   <link rel="stylesheet" href="/styles/sign.css">
    <link rel="stylesheet" href="/styles/signin-grid.css">
    <link rel="stylesheet" href="/styles/signup-grid.css"> %>
    <link rel="icon" type="image/png" href="/images/favicon-32x32.png"> 
    <title>Event.io</title>
</head>
<body>
    <div class="head">
    <header class="header">
        <div class="container">
            <div class="header_logo">
                <a href="#"><img class="header_img" src="/images/event_logo.png">
                <h1 class="title">Event<span class="tail">.io</span></h1></a>
            </div>
            <div class="entry">
                <a href="/signup"><span class="signup">Sign up</span></a>
                <a href="/signin"><span class="signin">Sign In</span></a>
            </div>
        </div>
    </header> 