<%- include('partialsHome/header.ejs') %>

<main class="main">
    <div class="quote">
        <h1 class="main-quote">College life is an <span class="sp-1">Event</span></h1>
        <h2 class="sub-quote">make it <span class="sp-2">memmorable</span></h2>
    </div>
        <img class="site-illu" src="images/undraw_festivities_tvvj-removebg.png">
    
    
</main>


<%- include('partialsHome/footer.ejs') %>