

<%- include('../PARTIALS/headerUser.ejs') %>



    <!--     NEWSFEED CONTENT  -->
    <main class="main-1 ">
        <div class="wrapper">
            <div class="content-1 content">
                <h4>Department-1</h4>
                <p class="sub-content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, sequi voluptate possimus provident
                    deleniti, eligendi dolorem earum, corporis eveniet doloribus iste qui sint corrupti inventore quod
                    nulla in et. Sapiente?

                </p>

            </div>
            <div class="content-2 content">
                <h4>Department-2</h4>
                <p class="sub-content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, sequi voluptate possimus provident
                    deleniti, eligendi dolorem earum, corporis eveniet doloribus iste qui sint corrupti inventore quod
                    nulla in et. Sapiente?
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi sint voluptatibus quaerat laboriosam
                    quibusdam autem iure tenetur dicta vero nisi pariatur neque, totam nemo explicabo, suscipit sequi
                    cum! Iure, quas!
                </p>

            </div>
            <div class="content-3 content">
                <h4>Department-3</h4>
                <p class="sub-content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, sequi voluptate possimus provident
                    deleniti, eligendi dolorem earum, corporis eveniet doloribus iste qui sint corrupti inventore quod
                    nulla in et. Sapiente?
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error provident voluptates unde, autem
                    voluptatum dolor facilis nesciunt sit nulla distinctio, vero minima eum officia assumenda. Quasi
                    aliquam nemo nam tenetur!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi illum, eaque ipsum, dolorem ab
                    obcaecati iste numquam tempora odit nam quam iusto quidem. Porro neque optio, pariatur animi nam
                    ipsum.

                </p>

            </div>
            <div class="content-4 content">
                <h4>Department-4</h4>
                <p class="sub-content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, sequi voluptate possimus provident
                    deleniti, eligendi dolorem earum, corporis eveniet doloribus iste qui sint corrupti inventore quod
                    nulla in et. Sapiente?
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error provident voluptates unde, autem
                    voluptatum dolor facilis nesciunt sit nulla distinctio, vero minima eum officia assumenda. Quasi
                    aliquam nemo nam tenetur!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi illum, eaque ipsum, dolorem ab
                    obcaecati iste numquam tempora odit nam quam iusto quidem. Porro neque optio, pariatur animi nam
                    ipsum.

                </p>

            </div>
            <div class="content-5 content">
                <h4>Department-5</h4>
                <p class="sub-content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, sequi voluptate possimus provident
                    deleniti, eligendi dolorem earum, corporis eveniet doloribus iste qui sint corrupti inventore quod
                    nulla in et. Sapiente?
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error provident voluptates unde, autem
                    voluptatum dolor facilis nesciunt sit nulla distinctio, vero minima eum officia assumenda. Quasi
                    aliquam nemo nam tenetur!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi illum, eaque ipsum, dolorem ab
                    obcaecati iste numquam tempora odit nam quam iusto quidem. Porro neque optio, pariatur animi nam
                    ipsum.

                </p>

            </div>

        </div>
    </main>


    <!--  /************************************** Departments *****************************/ -->


    <main class="main-2 visi">
        <div class="dep-wrapper">
            <a target="_blank" href="department-profile.html" class="dep-1 my-dep dep">
                <h4>Computer Science</h4>
                <h4 class="ur-dep">Your Department</h4>
            </a>
            <a href="#" class="dep-2 dep">
                <h4>Physics</h4>
            </a>
            <a href="#" class="dep-3 dep">
                <h4>Chemistry</h4>
            </a>
            <a href="#" class="dep-4 dep">
                <h4>Biology</h4>
            </a>
            <a href="#" class="dep-5 dep">
                <h4>Mathematics</h4>
            </a>
            <a href="#" class="dep-6 dep">
                <h4>Bio-technology</h4>
            </a>
        </div>
    </main>

    <!--                          Student profile                             -->

    <main class="main-3 visi">
        <div class="std-wrapper">
            <div class="prf-header">
                <div class="prf-pic">
                    <img class="img-prf" src="../images/prf-pic.jpg">
                </div>
                <div class="bio">
                    <h1>Andrew Dane</h1>
                    <span>75577</span>

                    <span>
                        Hey i'm new here.
                    </span>
                </div>
                <div class="plus">
                    <img src="../images/plus.png" alt="plus">
                </div>
            </div>
            <div id="appr" class="approved point-2">Approved</div>
            <div id="pend" class="pending">Pending</div>
            <div  class="feed-wrapper-approve" >
                <div class="feed-1 feed">
                    <h3>Feed 1</h3>
                    in approve
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates neque maiores ad veniam vel
                    earum, incidunt quidem quibusdam fugiat unde laboriosam dolorum, delectus nemo. Debitis laborum quas
                    iure pariatur cumque.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium laudantium iste reprehenderit
                    ratione blanditiis? Autem tempore exercitationem ab repudiandae, deserunt neque dolor voluptatibus
                    reprehenderit provident recusandae sit ex! Cumque, praesentium.
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel mollitia beatae sequi ipsam?
                    Temporibus, ipsam. Repellat aperiam repellendus illum nisi magni suscipit quo natus deserunt
                    recusandae. Quod fuga praesentium commodi.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur a, harum mollitia voluptas
                    repellat labore rerum est voluptatum culpa soluta consequatur veritatis alias nihil porro quisquam,
                    doloremque consectetur architecto corporis!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, dolor totam esse maxime rerum
                    tempora qui error et necessitatibus suscipit ex inventore, praesentium minima pariatur. Nihil modi
                    ad voluptates quisquam.
                </div>
                <div class="feed-1 feed">
                    <h3>Feed 2</h3>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, eum deserunt. Ipsum quam
                    consequatur maxime, obcaecati inventore, corrupti nesciunt adipisci eligendi tempora quis debitis
                    eveniet ad? Eos suscipit quisquam sed.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores enim at quo iste, ad aspernatur
                    nam quisquam mollitia, nihil magnam eligendi, tempora dolore amet! Doloribus ad id laudantium eos
                    voluptates.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro nihil assumenda in repellendus
                    molestiae obcaecati ipsum eos officia minus atque neque quos cupiditate, amet, dolor voluptatem
                    ipsa, vero modi? Qui?
                </div>
            </div>
            <div class="feed-wrapper-pending visi" >
                <div class="feed-2 feed">
                    <h3>⌛ Feed 1</h3>
                    in pending
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates neque maiores ad veniam vel
                    earum, incidunt quidem quibusdam fugiat unde laboriosam dolorum, delectus nemo. Debitis laborum quas
                    iure pariatur cumque.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium laudantium iste reprehenderit
                    ratione blanditiis? Autem tempore exercitationem ab repudiandae, deserunt neque dolor voluptatibus
                    reprehenderit provident recusandae sit ex! Cumque, praesentium.
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel mollitia beatae sequi ipsam?
                    Temporibus, ipsam. Repellat aperiam repellendus illum nisi magni suscipit quo natus deserunt
                    recusandae. Quod fuga praesentium commodi.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur a, harum mollitia voluptas
                    repellat labore rerum est voluptatum culpa soluta consequatur veritatis alias nihil porro quisquam,
                    doloremque consectetur architecto corporis!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, dolor totam esse maxime rerum
                    tempora qui error et necessitatibus suscipit ex inventore, praesentium minima pariatur. Nihil modi
                    ad voluptates quisquam.
                </div>
                <div class="feed-2 feed">
                    <h3>⌛ Feed 2</h3>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, eum deserunt. Ipsum quam
                    consequatur maxime, obcaecati inventore, corrupti nesciunt adipisci eligendi tempora quis debitis
                    eveniet ad? Eos suscipit quisquam sed.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores enim at quo iste, ad aspernatur
                    nam quisquam mollitia, nihil magnam eligendi, tempora dolore amet! Doloribus ad id laudantium eos
                    voluptates.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro nihil assumenda in repellendus
                    molestiae obcaecati ipsum eos officia minus atque neque quos cupiditate, amet, dolor voluptatem
                    ipsa, vero modi? Qui?
                </div>
            </div>
        </div>


    </main>

    <%- include('../PARTIALS/footerUser.ejs') %>